* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3rem;
}

main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: lightgray;
  padding: 2rem;
  border-radius: 5px;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
